<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h3 class="dropdown-headline">Notifications</h3>

<script type="application/javascript">
    window.addEventListener('load', function() {
       document.querySelectorAll('.t3-js-target-iframe').forEach(function(el) {
            el.addEventListener('click', function(clickEvent) {
                clickEvent.preventDefault();
                const url = clickEvent.target.href;
                const iframe = document.querySelector('#typo3-contentIframe');
                iframe.src = url;
            });
       });
    });
</script>

<div class="dropdown-table" style="padding-bottom: 10px; border-bottom: 1px solid dimgrey; margin-bottom: 10px">
    <f:for each="{latestUnreadNotifications}" as="notification">
        <div class="dropdown-table-row">
            <div class="dropdown-table-column dropdown-table-icon">
                <core:icon identifier="{notification.icon_identifier -> v:or(alternative: 'actions-dot')}" alternativeMarkupIdentifier="inline"/>
            </div>
            <div class="dropdown-table-column dropdown-table-title">
                {notification.title}
            </div>
        </div>
    </f:for>
</div>
<div class="dropdown-table">
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-icon">
            <core:icon identifier="apps-clipboard-list" alternativeMarkupIdentifier="inline"/>
        </div>
        <div class="dropdown-table-column dropdown-table-title">
            <f:be.link route="user_notifications" class="t3-js-target-iframe" parameters="{action: 'notifications'}">
                See all <f:if condition="{unreadNotificationsCount}">({unreadNotificationsCount} unread)</f:if>
            </f:be.link>
        </div>
    </div>
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-icon">
            <core:icon identifier="actions-cog-alt" alternativeMarkupIdentifier="inline"/>
        </div>
        <div class="dropdown-table-column dropdown-table-title">
            <f:be.link route="user_notifications" class="t3-js-target-iframe" parameters="{action: 'subscriptions'}">
                Notifications settings
            </f:be.link>
        </div>
    </div>
</div>

</html>
