<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h3 class="dropdown-headline">Notifications</h3>

<div class="dropdown-table" style="margin-bottom: 25px">
    <f:for each="{latestUnreadNotifications}" as="notification">
        <div class="dropdown-table-row">
            <div class="dropdown-table-column dropdown-table-icon">
                <core:icon identifier="{notification.icon_identifier -> v:or(alternative: 'actions-dot')}" alternativeMarkupIdentifier="inline"/>
            </div>
            <div class="dropdown-table-column dropdown-table-title">
                {notification.title}
            </div>
        </div>
    </f:for>
    <div class="dropdown-table-row">
        <hr style="border-color: white; width: 100%;">
    </div>
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-icon">
            <core:icon identifier="apps-clipboard-list" alternativeMarkupIdentifier="inline"/>
        </div>
        <div class="dropdown-table-column dropdown-table-title">
            <a href="#">See all <f:if condition="{unreadNotificationsCount}">({unreadNotificationsCount} unread)</f:if></a>
        </div>
    </div>
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-icon">
            <core:icon identifier="actions-cog-alt" alternativeMarkupIdentifier="inline"/>
        </div>
        <div class="dropdown-table-column dropdown-table-title">
            <a class="t3js-open-doc" href="{notificationSettingsUrl}">Notifications settings</a>
        </div>
    </div>
</div>

</html>
