<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h3 class="dropdown-headline">Notifications</h3>

<script type="application/javascript">
    window.addEventListener('load', function() {
       document.querySelectorAll('.t3-js-target-iframe').forEach(function(el) {
            el.addEventListener('click', function(clickEvent) {
                clickEvent.preventDefault();
                const url = clickEvent.target.href;
                const iframe = document.querySelector('#typo3-contentIframe');
                iframe.src = url;
            });
       });
    });
</script>

<ul class="dropdown-list" style="padding-bottom: 10px; border-bottom: 1px solid dimgrey; margin-bottom: 10px">
    <f:for each="{latestUnreadNotifications}" as="notification">
        <li>
            <a class="dropdown-item">
                <div class="dropdown-item-columns">
                    <div class="dropdown-item-column dropdown-item-column-icon">
                        <core:icon identifier="{notification.icon_identifier -> v:or(alternative: 'actions-dot')}" alternativeMarkupIdentifier="inline"/>
                    </div>
                    <div class="dropdown-item-column dropdown-item-column-title">
                        {notification.title}
                    </div>
                </div>
            </a>
        </li>
    </f:for>
</ul>

<ul class="dropdown-list">
    <li>
        <f:be.link route="user_notifications" class="dropdown-item">
            <div class="dropdown-item-columns">
                <div class="dropdown-item-column dropdown-item-column-icon">
                    <core:icon identifier="apps-clipboard-list" alternativeMarkupIdentifier="inline"/>
                </div>
                <div class="dropdown-item-column dropdown-item-column-title">
                        See all <f:if condition="{unreadNotificationsCount}">({unreadNotificationsCount} unread)</f:if>
                </div>
            </div>
        </f:be.link>
    </li>
    <f:if condition="{hasSettingsAccess}">
        <li>
            <f:be.link route="user_notification_settings" class="dropdown-item">
                <span class="dropdown-item-columns">
                    <span class="dropdown-item-column dropdown-item-column-icon">
                        <core:icon identifier="actions-cog-alt" alternativeMarkupIdentifier="inline"/>
                    </span>
                    <span class="dropdown-item-column dropdown-item-column-title">
                        Notifications settings
                    </span>
                </span>
            </f:be.link>
        </li>
    </f:if>
</ul>

</html>
