<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    data-namespace-typo3-fluid="true"
>


<f:variable name="markAsReadAjaxUri"></f:variable>
<script type="application/javascript">
    window.addEventListener('load', function() {
        document.querySelectorAll('.t3-js-notificaton-mark-as-read[data-is-read="0"]').forEach(function(el) {
            el.addEventListener('click', function(clickEvent) {
                const summary = clickEvent.target;
                if (summary.dataset.isRead === "1") {
                    return;
                }
                summary.setAttribute('data-is-read', '1');
                const xhttp = new XMLHttpRequest();
                xhttp.open('GET', summary.dataset.markAsReadAjaxUri, true);
                xhttp.send();
            });
        });
    });
</script>

<style>
    .tx-noti summary {
        cursor: pointer;
    }
    .tx-noti summary[data-is-read="0"] {
        font-weight: bold;
    }
    .tx-noti summary[data-is-read="1"] {
        color: dimgrey;
    }
</style>

<h2>Your notifications</h2>

<f:if condition="{notifications -> f:count()}">
    <f:then>
        <div class="tx-noti panel panel-default" style="max-width: 800px">
            <table class="table table-striped table-hover">
                <tbody>
                <f:for each="{notifications}" as="notification">
                    <tr>
                        <td style="vertical-align: top;">
                            {notification.crdate -> f:format.date(format: 'd.m.Y H:i')}
                        </td>
                        <td style="width: 600px; vertical-align: top;">
                            <details>
                                <summary
                                    data-mark-as-read-ajax-uri="{f:be.uri(route: 'ajax_user_notifications', parameters: {readNotificationUid: notification.uid})}"
                                    data-is-read="{notification.read}"
                                    class="t3-js-notificaton-mark-as-read"
                                >
                                    <core:icon identifier="{notification.icon_identifier -> v:or(alternative: 'actions-dot')}" alternativeMarkupIdentifier="inline"/>
                                    {notification.title}
                                </summary>
                                <f:if condition="{notification.is_message_html}">
                                    <f:then>
                                        {notification.message -> f:format.html()}
                                    </f:then>
                                    <f:else>
                                        <pre>{notification.message}</pre>
                                    </f:else>
                                </f:if>
                            </details>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
        <a href="{markAllReadLink}" class="btn btn-default">Mark all as read</a>
    </f:then>
    <f:else>
        <p>🏝 You have no notifications.</p>
    </f:else>
</f:if>


</html>
